@import '~antd/dist/antd.css';

.ant-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 1px solid black;
    height: 13vh;
}


.ant-form-item-label > label {
    font-size: 1.3rem;
}
h1.ant-typography {
    display: inline-block;
    font-size: 2.5rem;
}
h3.ant-typography {
    display: inline-block;
    margin: 0 0 0 1rem;
    color: grey;
    font-size: 1.2rem;
}


@media (max-width: 710px) {
    h3.ant-typography {
        display: none;
    }
}

@media (max-width: 480px) {
    h1.ant-typography {
        display: none;
    }

    .ant-layout-header {
        justify-content: center;
    }
}